{% extends 'padre.html' %}
<!--{% load static %}
{% block contenidoQueCambia %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h1>Bienvenidos a Shoperfumes</h1>
						
						<!--<img src="{{url}}" alt="avatar">  -->

						<p>{{mensaje}}</p>
                    </div>
                </div>
              </div> 
            </div>            
    </section>
    		<!-- Start Blog Section -->
		<div class="blog-section">
			<div class="container">
				
				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static 'images/banner-01.jpg' %}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Perfumes Para Ellas</a></h3>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static 'images/banner-02.jpg' %}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
                                <div class="post-content-entry">
                                    <h3><a href="#">Perfumes Para Ellos</a></h3>
                                </div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{% static 'images/banner-03.jpg' %}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
                                <div class="post-content-entry">
                                    <h3><a href="#">Perfumes Tester</a></h3>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Blog Section -->	

{% endblock %}

