{% extends 'padre.html' %}
<!--{% load static %}-->
{% block contenidoQueCambia %}
    <section class="bg0 p-t-75 p-b-120">
        <div class="container">
            <div class="row p-b-148">
                <div class="col-md-7 col-lg-8">
                    <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">

                        <h1>Ingresa tus Datos de Usuario</h1>   
                        <!--<img src="{{url}}" alt="avatar">  -->
                        <form action="" method="post">{% csrf_token %}
                            {{form.as_table}}
                            <button type="submit">Iniciar Sesión</button>       
                        </form>
                            <a href="{% url 'registro' %}">Quiero Registrarme</a>
                    </div>
                </div>
              </div> 
            </div>            
    </section>
{% endblock %}


