{% load static %}
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">Shoperfumes</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item active"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
                <li><a class="nav-link" href="{% url 'lista-blogs' %}">Blog</a></li>
                <li><a class="nav-link" href="{% url 'contacto' %}">Contacto</a></li>
                <li><a class="nav-link" href="{% url 'acerca-de-mí' %}">Acerca de mí</a></li>
                <li><a class="nav-link" href="{% url 'lista-productos' %}">Productos</a>
                <li><a class="nav-link" href="{% url 'lista-clientes' %}">Clientes</a>
                </li>
   
            </ul>
        </div>

        {% if user.is_authenticated %}
            
            {% if url %}
                <img src="{{url}}" height="30px" alt="avatar">
            {% endif %}
            
            <p>Bienvenido {{user.username}}</p>
            <a href="{% url 'logout' %}"><img src="{% static 'images/logout_icon.svg' %}">Salir</a>
        {% else %}
            <a href="{% url 'login' %}"><img src="{% static 'images/user.svg' %}">Entrar</a>
        {% endif %}


    </div>
        
</nav>
